@page
@model IndexModel
@{
    ViewData["Title"] = "Головна сторінка";
}
<div class="text-block">
    <h1 class="visually-hidden" style="font-size:0px; top:0px;">Українські <a class="custom-link" href="https://uk.wikipedia.org/wiki/%D0%90%D0%90%D0%90_(%D1%96%D0%BD%D0%B4%D1%83%D1%81%D1%82%D1%80%D1%96%D1%8F_%D0%B2%D1%96%D0%B4%D0%B5%D0%BE%D1%96%D0%B3%D0%BE%D1%80)" target="_blank">ААА</a> проекти</h1>




    <div class="hidden">
    <h1>Історія Українського Геймдеву: Від Малих Студій до <a class="custom-link" href="https://uk.wikipedia.org/wiki/%D0%90%D0%90%D0%90_(%D1%96%D0%BD%D0%B4%D1%83%D1%81%D1%82%D1%80%D1%96%D1%8F_%D0%B2%D1%96%D0%B4%D0%B5%D0%BE%D1%96%D0%B3%D0%BE%D1%80)" target="_blank">ААА</a> Проєктів</h1>
    <div class="text-image-container">
        <div class="text">
            <p>
                Ігрова індустрія в Україні почалася з невеликих команд ентузіастів ще на початку 90-х років. Попри труднощі перших років незалежності, ці амбітні розробники заклали фундамент для майбутніх успіхів на світовій арені. Одними з перших піонерів стали невеликі студії, які прагнули створювати якісні та інноваційні ігри, незважаючи на відсутність великих бюджетів і обмежений доступ до новітніх технологій.
            </p>
        </div>
        <div class="image">
            <img src="~/images/Index/ukrainian-gamedev.png" alt="Ukrainian Game Dev" style="width:100%;" />
        </div>
    </div>
    </div>


    <div class="hidden">
    <h2>Перші Успіхи: Студії, Що Змінили Індустрію</h2>
    <div class="text-image-container">
        <div class="image">
            <img src="~/images/Index/GSC_Game_World.png" alt="Ukrainian Game Dev" style="width:100%;" />
        </div>
        <div class="text">
            <p>
                Один із перших проривів стався завдяки студії GSC Game World, яка була заснована у 1995 році. Вона отримала міжнародне визнання після випуску гри S.T.A.L.K.E.R.: Shadow of Chernobyl у 2007 році. Унікальний сеттинг постапокаліптичної Зони відчуження навколо Чорнобильської АЕС зробив її культовою. Ця гра започаткувала франшизу, яка надалі продовжиться виходом очікуваної <a class="custom-link" href="@Url.Page("/Stalker2")">S.T.A.L.K.E.R. 2: Heart of Chernobyl</a>. GSC Game World стала першою українською студією, яка змогла вийти на рівень <a class="custom-link" href="https://uk.wikipedia.org/wiki/%D0%90%D0%90%D0%90_(%D1%96%D0%BD%D0%B4%D1%83%D1%81%D1%82%D1%80%D1%96%D1%8F_%D0%B2%D1%96%D0%B4%D0%B5%D0%BE%D1%96%D0%B3%D0%BE%D1%80)" target="_blank">ААА</a> проєктів, що ознаменувало нову еру для українського геймдеву.
            </p>
        </div>
    </div>
    </div>



    <div class="hidden">
    <h2>Розвиток Постапокаліптичного Жанру: Студія 4A Games</h2>
    <div class="text-image-container">
        <div class="text">
            <p>
                Після успіху S.T.A.L.K.E.R., декілька ключових розробників з GSC Game World заснували студію 4A Games, яка продовжила розвивати тематику постапокаліпсису. У 2010 році вони випустили гру Metro 2033, засновану на романі Дмитра Глуховського. Серія Metro швидко здобула популярність завдяки своїй атмосфері, сюжету та геймплейній глибині. Вершиною успіху 4A Games став вихід <a class="custom-link" href="@Url.Page("/MetroExodus")">Metro Exodus</a> у 2019 році. Гра здивувала відкритим світом і новими механіками виживання, що дало змогу студії закріпити свій статус однієї з провідних у галузі.
            </p>
        </div>
        <div class="image">
            <img src="~/images/Index/4A Games.png" alt="Ukrainian Game Dev" style="width:80%;" />
        </div>
     </div>
    </div>



    <div class="hidden">
    <h2>Відкриття Нових Горизонтів: Студія Frogwares</h2>
    <div class="text-image-container">
        <div class="image">
            <img src="~/images/Index/Frogwares.png" alt="Ukrainian Game Dev" style="width:70%;" />
        </div>
        <div class="text">
            <p>
                Поки GSC Game World і 4A Games завойовували світ постапокаліпсису, інша українська студія, Frogwares, розвивала жанр пригодницьких ігор. Її серія ігор про Шерлока Холмса, яка почалася в 2002 році, стала важливим внеском у світову ігрову індустрію. Одна з останніх робіт студії, <a class="custom-link" href="@Url.Page("/SherlockHolmes")">Sherlock Holmes: Chapter One</a>, пропонує гравцям дослідити ранні роки славетного детектива. Вона демонструє майстерність Frogwares у створенні інтерактивних історій та глибоких сюжетів, що здобуло прихильність гравців з усього світу.
            </p>
        </div>
    </div>
    </div>



    <div class="hidden">
    <h2>Український Геймдев Сьогодні: Від Інді до <a class="custom-link" href="https://uk.wikipedia.org/wiki/%D0%90%D0%90%D0%90_(%D1%96%D0%BD%D0%B4%D1%83%D1%81%D1%82%D1%80%D1%96%D1%8F_%D0%B2%D1%96%D0%B4%D0%B5%D0%BE%D1%96%D0%B3%D0%BE%D1%80)" target="_blank">ААА</a></h2>
    <div class="text-image-container">
        <div class="text">
            <p>
                Сьогодні українська ігрова індустрія може похвалитися значним різноманіттям проєктів. Від маленьких інді-студій до великих компаній, Україна стала місцем, де розробники можуть творити проєкти будь-якого масштабу. Окрім GSC Game World, 4A Games та Frogwares, на арені з'являються нові таланти, що прагнуть створювати інноваційні ігри для глобальної аудиторії. Незважаючи на виклики, з якими стикається країна, українські розробники продовжують вражати світ якісними та захопливими проєктами.
            </p>
        </div>
        <div class="image">
            <img src="~/images/Index/Controller.png" alt="Ukrainian Game Dev" style="width:65%;" />
        </div>
    </div>
    </div>



    <div class="hidden">
    <h2>Майбутнє Українських <a class="custom-link" href="https://uk.wikipedia.org/wiki/%D0%90%D0%90%D0%90_(%D1%96%D0%BD%D0%B4%D1%83%D1%81%D1%82%D1%80%D1%96%D1%8F_%D0%B2%D1%96%D0%B4%D0%B5%D0%BE%D1%96%D0%B3%D0%BE%D1%80)" target="_blank">ААА</a> Ігор</h2>
    <div class="text-image-container">
        <div class="image">
            <img src="~/images/Index/3AAA.png" alt="Ukrainian Game Dev" style="width:100%;" />
        </div>
        <div class="text">
            <p>
                Попереду у українського геймдеву – безліч можливостей і проєктів, що знаходяться у розробці. Випуск <a class="custom-link" href="@Url.Page("/Stalker2")">S.T.A.L.K.E.R. 2: Heart of Chernobyl</a>, нові пригоди у світі Sherlock Holmes, і можливі продовження серії Metro показують, що українські студії залишаються на передовій світового геймдеву. З розвитком технологій та розширенням можливостей, українські розробники готові знову здивувати світ своїми амбітними іграми.
            </p>
        </div>
        </div>
    </div>


   

</div>
