@page
@model MetroExodusModel
@{
    ViewData["Title"] = "Metro Exodus";
}

<h1 class="visually-hidden" style="font-size:0px; top:0px;">Metro Exodus</h1>
<img src="~/images/MetroExodus/Metro_banner.png" alt="Metro Exodus" style="width:90%; margin:0; padding:0; display:block;" />


<!--1-->
<div class="hidden">
<h2>Історія розвитку Metro Exodus</h2>
<div class="text-image-container">
    <!-- Вбудований трейлер гри -->
    <div class="video">
        <iframe width="90%" height="400 px" src="https://www.youtube.com/embed/fBD3ASjg46g" title="S.T.A.L.K.E.R. 2: Heart of Chernobyl Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text" style="flex: 1;">
        <p>
            <a class="custom-link" href="https://www.metrothegame.com/en-gb/" target="_blank">Metro Exodus</a> — це третя частина культової серії ігор Metro, розроблених українською студією 4A Games. Вихід гри став важливим етапом в історії серії, яка розпочалася ще у 2010 році з Metro 2033. Metro Exodus відзначається новим підходом до геймплею, поєднуючи елементи постапокаліптичного шутера з відкритим світом, що дозволяє гравцям відчути масштаб та глибину світу, порівняно з попередніми частинами. Вихід гри в 2019 році став значною подією для фанатів серії та любителів ігор в жанрі постапокаліпсису.
        </p>
    </div>
</div>
</div>


<!--2-->
<div class="hidden">
<h2>Сюжет і світ гри</h2>
<div class="text-image-container">
    <div class="text">
        <p>
            Дія Metro Exodus відбувається в постапокаліптичній Росії, де гравець знову зустрічає Артема, героя попередніх ігор. Після подій Metro Last Light, Артем вирушає в подорож по Росії, залишаючи підземні тунелі метро та відправляючись на поверхню. Сюжет гри охоплює величезні території, від зруйнованих міст до величезних пустель. Гравцям відкривається можливість досліджувати різноманітні локації, взаємодіяти з новими персонажами і боротися з новими загрозами, що робить історію ще більш захоплюючою.
        </p>
    </div>
    <div class="image">
            <img src="~/images/MetroExodus/Ashot.png" style="width:70%;" />
    </div>
</div>
</div>


<!--3-->
<div class="hidden">
<h2>Геймплей і механіка</h2>
<div class="text-image-container">
    <div class="image">
            <img src="~/images/MetroExodus/FirstAidKid.png" style="width:60%;" />
    </div>
    <div class="text">
        <p>
            Metro Exodus поєднує традиційний для серії сюжетний шутер з елементами виживання та відкритого світу. Гравцям доведеться управляти ресурсами, такими як патрони, їжа та медичні препарати, в умовах постапокаліптичного середовища. Гра пропонує різноманітні способи проходження місій, включаючи стелс і відкриті бої, що дозволяє кожному гравцеві обирати свій шлях. Велика увага приділяється деталям навколишнього світу, що робить кожен момент ігрового процесу унікальним.
        </p>
    </div>
</div>
</div>


<!--4-->
<div class="hidden">
<h2>Графіка і технології</h2>
<div class="text-image-container">
    <div class="text">
        <p>
            Розроблена на рушії 4A Engine, Metro Exodus вражає своєю графікою та деталізацією. Гра забезпечує надзвичайно реалістичне відтворення постапокаліптичного середовища, включаючи зміну погодних умов, динамічне освітлення та детальну візуалізацію. Модель світу гри вражає своєю масштабністю, а високий рівень графічних ефектів додає ще більше глибини та атмосфери в ігровий процес.
        </p>
    </div>
    <div class="image">
            <img src="~/images/MetroExodus/RTX.png" style="width:100%;" />
    </div>
</div>
</div>


<!--5-->
<div class="hidden">
<h2>Взаємодія з NPC та угрупування</h2>
<div class="text-image-container">
    <div class="image">
            <img src="~/images/MetroExodus/Clipboard.png" style="width:40%;" />
    </div>
    <div class="text">
        <p>
            В Metro Exodus гравці мають можливість взаємодіяти з різними NPC і угрупуваннями, що населяють постапокаліптичний світ. Кожен персонаж має свою історію, мотиви та цілі, що вплине на хід гри. Гравці можуть обирати, кому допомагати і з ким співпрацювати, що надає ще більше можливостей для варіативного проходження та взаємодії з ігровим світом.
        </p>
    </div>
</div>
</div>


<!--6-->
<div class="hidden">
<h2>Фінальні думки і очікування</h2>
<div class="text-block">
        <p>
            Metro Exodus є значним кроком вперед для серії, представляючи новий підхід до ігрового процесу та відкритого світу. Завдяки вражаючій графіці, захоплюючому сюжету та інтригуючій механіці, гра пропонує гравцям унікальний досвід, який відзначає її серед інших постапокаліптичних ігор. Metro Exodus не лише продовжує історію Артема, але й розширює межі ігрового світу, пропонуючи нові можливості для дослідження і захоплюючі пригоди.
        </p>
</div>
</div>
