@page
@model SherlockHolmesModel
@{
    ViewData["Title"] = "Sherlock Holmes Chapter One";
}

<h1 class="visually-hidden" style="font-size:0px; top:0px;">Sherlock Holmes Chapter One</h1>
<img src="~/images/SherlockHolmes/Sherlock_banner.png" alt="S.T.A.L.K.E.R. 2" style="width:100%; margin:0; padding:0; display:block;" />


<!--1-->
<div class="hidden">
<h2>Історія розвитку Sherlock Holmes Chapter One</h2>
<div class="text-image-container">
    <!-- Вбудований трейлер гри -->
    <div class="video">
        <iframe width="90%" height="400px" src="https://www.youtube.com/embed/jx4xSpY1-FA" title="S.T.A.L.K.E.R. 2: Heart of Chernobyl Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text" style="flex: 1;">
        <p>
            <a class="custom-link" href="https://frogwares.com/frogwares-games/#Sherlock_Holmes_Chapter_One" target="_blank">Sherlock Holmes Chapter One</a> — це захоплюючий новий проєкт від студії Frogwares, яка вже давно славиться своєю роботою над серією ігор про знаменитого детектива. Вихід цієї гри став важливим моментом в історії серії, представляючи новий підхід до класичного персонажа. Випущена у 2021 році, гра є прологом до класичних пригод Шерлока Холмса, розповідаючи про його перші кроки в світі детективних розслідувань. Sherlock Holmes Chapter One розширює всесвіт Холмса, пропонуючи новий погляд на його ранні роки.
        </p>
    </div>
</div>
</div>


<!--2-->
<div class="hidden">
<h2>Сюжет і світ гри</h2>
<div class="text-image-container">
    <div class="text">
        <p>
            Sherlock Holmes Chapter One переносить гравців на розкішний середземноморський острів Корсика в середині XIX століття. Гравці беруть на себе роль молодого Шерлока Холмса, який повертається на острів, де він провів своє дитинство, щоб розслідувати таємничу смерть свого батька. Сюжет гри переплітає особисті трагедії Холмса з великою кількістю інтригуючих кримінальних справ, що розгортаються на фоні багатого історичного середовища.
        </p>
    </div>
    <div class="image">
            <img src="~/images/SherlockHolmes/CapuRossu.png" style="width:100%;" />
    </div>
</div>
</div>


<!--3-->
<div class="hidden">
<h2>Геймплей і механіка</h2>
<div class="text-image-container">
    <div class="image">
            <img src="~/images/SherlockHolmes/RubikCube.png" style="width:50%;" />
    </div>
    <div class="text">
        <p>
            Геймплей Sherlock Holmes Chapter One зосереджується на детальному розслідуванні та розгадуванні головоломок. Гравці можуть досліджувати велику кількість локацій на острові, збирати докази, допитувати свідків і вирішувати складні загадки. Гра використовує інноваційну механіку, що дозволяє гравцям приймати рішення, які можуть вплинути на хід розслідування та результат справи. Система інтерв'ю, яка дозволяє обирати різні підходи до допитів, додає глибині ігрового процесу.
        </p>
    </div>
</div>
</div>


<!--4-->
<div class="hidden">
<h2>Графіка і технології</h2>
<div class="text-image-container">
    <div class="text">
        <p>
            Sherlock Holmes Chapter One вражає своєю графікою, яка втілює атмосферу середземноморського острова з високою деталізацією. Рушій гри використовує сучасні технології для створення реалістичних текстур, освітлення та погодних ефектів. Гравці можуть насолоджуватися розкішними краєвидами та ретельно відтвореними інтер'єрами, що додає ще більше занурення в атмосферу гри.
        </p>
    </div>
    <div class="image">
            <img src="~/images/SherlockHolmes/Hat.png" style="width:60%;" />
    </div>
</div>
</div>


<!--5-->
<div class="hidden">
<h2>Взаємодія з NPC і сюжетні вибори</h2>
<div class="text-image-container">
    <div class="image">
            <img src="~/images/SherlockHolmes/Back.png" style="width:100%;" />
    </div>
    <div class="text">
        <p>
            Гра пропонує гравцям широкі можливості для взаємодії з NPC, кожен з яких має свою історію та мотивацію. Вибір, який зроблять гравці, вплине на сюжет та взаємодію з персонажами. У Sherlock Holmes Chapter One важливо враховувати мотиви і поведінку інших персонажів, адже це може відкрити нові шляхи розслідування або змінити розвиток подій.
        </p>
    </div>
</div>
</div>


<!--6-->
<div class="hidden">
<h2>Фінальні думки і очікування</h2>
    <div class="text-block">
        <p>
            Sherlock Holmes Chapter One є вражаючим внеском у серію ігор про Шерлока Холмса, який пропонує новий погляд на відомого детектива. Завдяки інтригуючому сюжету, детальному дослідженню і сучасній графіці, гра забезпечує унікальний досвід для любителів детективних ігор. Sherlock Holmes Chapter One не лише продовжує традиції серії, але й додає нові елементи, які дозволяють гравцям насолоджуватися новими пригодами у світі Шерлока Холмса.
        </p>
    </div>
</div>