@page
@model Stalker2Model
@{
    ViewData["Title"] = "S.T.A.L.K.E.R. 2: Heart of Chernobyl";
}

 <h1 class="visually-hidden" style="font-size:0px; top:0px;">S.T.A.L.K.E.R. 2: Heart of Chernobyl</h1>
<img src="~/images/Stalcket2/S.T.A.L.K.E.R._2_banner.png" alt="S.T.A.L.K.E.R. 2" style="width:100%; margin:0; padding:0; display:block;" />





<!--1-->
<div class="hidden">
<h2>Історія розвитку S.T.A.L.K.E.R. 2</h2>
<div class="text-image-container">
    <!-- Вбудований трейлер гри -->
    <!--<div style="text-align: center; margin-top: 30px;padding-left: 20px; flex: 1; ">-->
    <div class="video">
        <iframe width="90%" height="400px" src="https://www.youtube.com/embed/g6HH5kKLAlw" title="S.T.A.L.K.E.R. 2: Heart of Chernobyl Trailer" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    <div class="text" style="flex: 1;">
        <p><a class="custom-link" href="https://www.stalker2.com/uk" target="_blank">S.T.A.L.K.E.R. 2: Heart of Chernobyl</a> — це продовження культової серії ігор, розроблених українською студією GSC Game World. Історія гри бере свій початок ще в 2007 році з виходом першої частини, яка здобула величезну популярність завдяки неповторній атмосфері постапокаліптичної Зони. Після численних перенесень і скасувань, студія нарешті підтвердила продовження в 2020 році, що викликало великий ажіотаж серед фанатів.</p>
    </div>
</div>
</div>


<!--2-->
<div class="hidden">
<h2>Сюжет і світ гри</h2>
<div class="text-image-container">
    <div class="text">
        <p>Гравець знову опиняється в серці Зони Відчуження — мутованої та небезпечної території навколо Чорнобильської АЕС. У грі присутні нові персонажі, а також повертаються знайомі елементи з попередніх частин. Сюжет гри обіцяє бути багатошаровим і захоплюючим, надаючи можливість гравцю вибирати свій шлях, що впливатиме на розвиток історії та її фінал.</p>
    </div>
    <div class="image">
        <img src="~/images/Stalcket2/Mutant.png"   style="width:50%;" />
    </div>
</div>
</div>


<!--3-->
<div class="hidden">
<h2>Геймплей і механіка виживання</h2>
<div class="text-image-container">
    <div class="image">
        <img src="~/images/Stalcket2/sKnife.png"   style="width:70%;" />
    </div>
    <div class="text">
        <p>S.T.A.L.K.E.R. 2 зосереджується на виживанні в небезпечному світі, де мутанти, аномалії та вороги — лише частина проблем. Гравець мусить управляти ресурсами, як-от боєприпаси, їжа та медичні засоби, щоб вижити. Вибір зброї, броні та інших елементів обладнання також є важливою частиною виживання. Ігровий процес також включає детальне дослідження світу та взаємодію з різними групами.</p>
    </div>
</div>
</div>


<!--4-->
<div class="hidden">
<h2>Графіка і технології</h2>
<div class="text-image-container">
    <div class="text">
        <p>Гра розроблена на новітньому рушії Unreal Engine 5, що гарантує реалістичність графіки, високу деталізацію оточення та складних фізичних ефектів. Відтворення постапокаліптичного світу, освітлення, погодні ефекти та аномалії роблять S.T.A.L.K.E.R. 2 однією з найбільш очікуваних ігор з точки зору візуального виконання..</p>
    </div>
    <div class="image">
        <img src="~/images/Stalcket2/boltPutToStudy.gif"   style="width:70%;" />
    </div>
</div>
</div>


<!--5-->
<div class="hidden">
<h2>Взаємодія з NPC та угрупування</h2>
<div class="text-image-container">
    <div class="image">
        <img src="~/images/Stalcket2/GasMask.png"   style="width:55%;" />
    </div>
    <div class="text">
        <p>Важливою частиною гри є взаємодія з іншими сталкерами та угрупованнями, які існують в Зоні. Гравець зможе вступати до різних угруповань або працювати на них, що впливатиме на сюжет і відкриє нові можливості в проходженні. Кожне угруповання має свої цілі, і гравець повинен обирати, з ким варто співпрацювати, а кого слід уникати.</p>
    </div>
</div>
</div>


<!--6-->
<div class="hidden">
<h2>Фінальні думки і очікування</h2>
<div class="text-block">

        <p>S.T.A.L.K.E.R. 2: Heart of Chernobyl обіцяє бути великим кроком уперед для серії, зберігаючи унікальний дух оригіналу. З більшою увагою до деталей, поліпшеним геймплеєм та новими можливостями, гра стане знаковим проєктом у світі постапокаліптичних ігор. Це не просто гра, а ціла подорож у світ, де виживання є основним викликом.</p>
    
</div>
 </div>


